
body {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.app {
    width: 700px;
}
.list-name {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color:black;
}

.task-container {
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin:20px;
}

#todo-input {
    padding: 0px 0px 0px 5px;
    width: 80%;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

#add-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.task-add{
    margin:35px 35px 35px 70px;
}
#task-to-add {
    list-style-type: none;
}

#task-to-add li {
    display: flex;
    width:80%;
    justify-content: space-between;
    background-color: #e3e3e3;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

#task-to-add button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

